* {
    font-family: Tahoma, Arial, Verdana;
    font-size: 14px;
}

body {
    text-align: center;
    background: #d8d8d8;
    padding: 0px;
    margin: 0px;
}

.header {
    padding: 8px 8px 8px 8px;
    background-image: url(/resources/website/img/back.png);
    border: 1px solid #274585;
}

.headercenter {
    position: relative;
    text-align: left;
    max-width: 600px;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
}

.headercenter a {
    text-decoration: none;
    color: white;
}

.whitebox {
    margin-top: 6px;
    border: 1px solid #bfc5cf;
    background: white;
    text-align: left;
    color: #777;
}

.whitebox.pad-4 {
    padding: 4px;
}

.hr {
    border: 0;
    margin-top: 0;
    padding: 4px 9px 4px 9px;
    min-height: 64px;
}

.hrb {
    border: 0;
    margin-top: 0;
    padding: 10px 9px 10px 9px;
}

.l {
    font-size: 13px;
}

.blue {
    padding: 6px 7px 6px 7px;
    background-image: url(/resources/website/img/back.png);
    color: white;
    border: 1px solid #44619c;
    text-align: left;
    font-size: 14px;
}

.inputtext {
    width: 99%;
    height: 27px;
    border: 1px solid #d5d5d5;
    padding: 0 0 0 4px;
    color: #555;
}

.submit {
    width: 100%;
    height: 30px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    background-image: url(/resources/website/img/back.png);
    border: 1px solid #274585;
    cursor: pointer;
}

.a {
    color: #274585;
    font-weight: normal;
    text-decoration: none;
    font-size: 14px;
}

.a:hover {
    text-decoration: underline;
}

.none {
    text-align: center;
    padding: 6px 7px 6px 0;
    color: #888;
    font-size: 12px;
    line-height: 200%;
}

.none>a {
    padding: 5px;
}

.radio {
    margin: 4px 1px 0 3px;
}

select {
    padding: 5px 5px 5px 5px;
    height: 30px;
    border: 1px solid #d5d5d5;
    margin: 0;
    margin-right: 6px;
    cursor: pointer;
}

.whitebox {
    box-shadow: 0px 0px 6px #c1c1c1;
    -webkit-box-shadow: 0px 0px 6px #c1c1c1;
    -moz-box-shadow: 0px 0px 6px #c1c1c1;
}

.whitebox, input, select {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.displaya {
    position: relative;
    display: block;
    padding: 8px 0 8px 72px;
    text-decoration: none;
    color: #444;
    border-bottom: 1px solid #e1e1e1;
    min-height: 64px;
    font-size: 14px;
}

.displaya:hover {
    padding-left: 80px;
}

span.displaya {
    min-height: 40px;
}
span.displaya:hover {
    padding-left: 72px;
}

.displaya .info {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 14px;
}

.displaya.small {
    position: relative;
    display: block;
    padding: 8px 0 8px 8px;
    text-decoration: none;
    color: #444;
    border-bottom: 1px solid #e1e1e1;
    min-height: 32px;
    font-size: 14px;
}

.displaya.small:hover {
    padding-left: 18px;
}

.displaya.small .info {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .displaya {
        font-size: 12px;
    }
    .displaya .info {
        position: absolute;
        top: 4px;
        right: 4px;
        font-size: 18px;
    }
}

.main {
    position: relative;
    margin: auto;
    padding: 0 6px 6px 6px;
    margin-top: 0px;
    min-width: 600px;
    max-width: 600px;
}

@media (max-width: 1024px) {
    .main {
        min-width: 90%;
        max-width: 90%;
    }
}



.audiojs .scrubber {
    background: none repeat scroll 0 0 #5A5A5A;
    border-bottom: 0 none;
    border-left: 0 none;
    border-top: 1px solid #3F3F3F;
    float: left;
    height: 14px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: calc(100% - 155px);
}

.audiojs .time {
    border-left: 1px solid #000000;
    color: #DDDDDD;
    float: right;
    height: 36px;
    line-height: 36px;
    margin: 0; /* no margin */
    padding: 0 6px 0 9px; /* 2px smaller left padding */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}

.audiojs {
    font-family: monospace;
    font-size: 10px; /* reduced font size */
    width: 100%;
}

.letters {
    min-width: 100%;
    max-width: 100%;
    padding: 4px;
}

.letters a {
    color: #274585;
    text-decoration: none;
    font-size: 14px;
    padding: 8px;
    margin: 4px;
    display: inline-block;
}

.letters a:hover {
    background-color: #274585;
    color: #fff;
}

.headercenter form {
    position: absolute;
    top: -4px;
    right: 0px;
    width: calc(100% - 72px);
}

.headercenter form input {
    border: 1px solid #274585;
    padding: 4px;
}

.headercenter form input {
    width: calc(100% - 64px);
}

.headercenter form button {
    width: 32px;
    height: 32px;
    line-height: 18px;
    margin-left: 8px;
    background: none;
    border: 0;
    cursor: pointer;
}

.headercenter form button:hover {
    background-color: #fff;
    border: 1px solid #274585;
    border-radius: 99px;
}