doctype html
html
  head
    meta(http-equiv="Content-Type", content="charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
      title="SUM.AZ"
  body
    div.header
      div.headercenter(style="color:white")
        a(href="/") SUM.AZ
        form(method="get", action="/search")
          input(type="text" name="q" placeholder="axtarış..." value="#{q}")
          button
            i.fa.fa-search
    div.main
      div.whitebox.pad-4
        .letters
          span Müğənnilər:
          -
            letters = ['A', 'B', 'C', 'Ç', 'D', 'E', 'Ə', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'Ö', 'P', 'Q', 'R', 'S', 'Ş', 'T', 'U', 'Ü', 'V', 'W', 'X', 'Y', 'Z']
          each letter in letters
            a(href="/artists/#{letter}") #{letter}
          hr
          -
            letters = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ж', 'З', 'И', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Э', 'Ю', 'Я']
          each letter in letters
            a(href="/artists/#{letter}") #{letter}
          br
          div(style="text-align:right")
            a(href="/artists/A-Z") TAM SİYAHI

      block content
      div.none
        a(href="/rules") Xidmətin dəyəri və qaydalar
        a(href="/about") Haqqımızda
        a(href="/contact") Əlaqə
      div.none SUM.AZ

    link(rel="stylesheet", href="/resources/website/css/style.css", type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", type="text/css")
    script(src="/resources/player/player.js")