extends ./_layout.jade

block content
  div.whitebox
    div.blue Yeni yükləmələr
    each track in latestTracks
      div.hr
        a.displaya(href="/track/#{track.slug}" title="#{track.Artist.name} - #{track.name}" style="background:url('/data/artists/#{track.Artist.uuid}/64x64.jpg') no-repeat;")
          div.artist #{track.Artist.name}
          div.track #{track.name}
          div.info
            div.played
              i.fa.fa-headphones
              |  #{track.played}
            div.downloaded
              i.fa.fa-download
              |  #{track.downloaded}

  div.whitebox
    div.blue Çox dinlənilən
    each track in mostPlayedTracks
      div.hr
        a.displaya(href="/track/#{track.slug}" title="#{track.Artist.name} - #{track.name}" style="background:url('/data/artists/#{track.Artist.uuid}/64x64.jpg') no-repeat;")
          div.artist #{track.Artist.name}
          div.track #{track.name}
          div.info
            div.played
              i.fa.fa-headphones
              |  #{track.played}
            div.downloaded
              i.fa.fa-download
              |  #{track.downloaded}