extends ./_layout.jade

block content
  div.whitebox.pad-4
    span.displaya(style="background:url('/data/artists/#{track.Artist.uuid}/64x64.jpg') no-repeat;")
      h1 #{track.name} - #{track.Artist.name}
      div.info
        div.played
          i.fa.fa-headphones
          |  #{track.played}
        div.downloaded
          i.fa.fa-download
          |  #{track.downloaded}
    div.player(style="text-align: center;")
      audio(preload="auto" src="/data/tracks/#{track.folder}/#{track.uuid}/original.mp3")

  if artistTracks.length > 1
    div.whitebox
      div.blue Mügənninin digər mahnıları
      each track in artistTracks
        div.hr
          a.displaya.small(href="/track/#{track.slug}" title="#{track.Artist.name} - #{track.name}")
            div.track #{track.name}
            div.info
              div.played
                i.fa.fa-headphones
                |  #{track.played}
              div.downloaded
                i.fa.fa-download
                |  #{track.downloaded}

  if artistTracks.length < 10
    div.whitebox
      div.blue Yeni yükləmələr
      each track in latestTracks
        div.hr
          a.displaya(href="/track/#{track.slug}" title="#{track.Artist.name} - #{track.name}" style="background:url('/data/artists/#{track.Artist.uuid}/64x64.jpg') no-repeat;")
            div.artist #{track.Artist.name}
            div.track #{track.name}
            div.info
              div.played
                i.fa.fa-headphones
                |  #{track.played}
              div.downloaded
                i.fa.fa-download
                |  #{track.downloaded}